* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: hwb(28 2% 41% / 0.882);
    color: white;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.sidebar .logo {
    font-size: 36px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 2px solid white;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li.end a:hover {
    background-color: #715e75;
}

.sidebar ul li a.active {
    background-color: #715e75;
}

.sidebar ul li.end {
    margin-top: auto;
    margin-bottom: 10px;
}

.main-content {
    flex-grow: 1;
    background-color: #f5f5f5;
    padding: 20px;
    overflow-y: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 5px;
}

.navbar h1 {
    font-size: 24px;
    color: hwb(28 2% 41% / 0.882);
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 10px;
    color: #333;
}

.account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

form label {
    margin-bottom: 5px;
    color: #333;
}

form input {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}

.form-actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: hwb(28 2% 41% / 0.882);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-actions button:hover {
    background-color: #715e75;
}
.sidebar .logo img {
    display: block;
    margin: 0 auto;
    padding: 10px 0;
}